@model Fiap.Leilao.Web.ViewModels.DashGenericoViewModel

@foreach (var item in Model.ProdutosEmVenda)
{
    <tr>
        <td>
            <img src=@item.Imagem class="img-thumbnail" alt=@item.Imagem width="100" height="50">
        </td>
        <td>@item.Nome</td>
        <td>@if (item.Status_Produto == "Vendido")
        {
            @item.Negociacaos.Last().Valor_Produto;
        }
        else
        {
            @item.Valor_Vendedor
        }</td>
        <td>
        @if (item.Status_Produto == "Em negociação")
        { 
            <button  onclick="proposta.innerHTML='A proposta foi de: R$ @item.Negociacaos.Last().Valor_Produto',produtoId.value = @item.Id ,produtoId2.value = @item.Id" type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">
                Ver Proposta
            </button>
        }
        else
        {
            @item.Status_Produto
        }
        </td>


    </tr>
}