@model Fiap.Leilao.Web.ViewModels.UsuarioViewModel
@{
    ViewBag.Title = "Cadastrar";
}

@MeuHelper.Titulo("Cadastro de Usuário")

@MeuHelper.Mensagem(@Model.Mensagem, @Model.TipoMensagem)

<div class="row">
    @Html.ValidationSummary()
</div>

<div class="row">
    @using (Html.BeginForm())
    {
        //informacoes pessoais
        <div class="col-md-4 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Informações Pessoais</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(u => u.Nome)
                        @Html.TextBoxFor(u => u.Nome, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(u => u.Cpf)
                        @Html.TextBoxFor(u => u.Cpf, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(u => u.DataNascimento)
                        @Html.TextBoxFor(u => u.DataNascimento, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(u => u.Telefone)
                        @Html.TextBoxFor(u => u.Telefone, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        //informacoes de endereço
        <div class="col-md-4 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Endereço</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(u => u.Cep)
                        @Html.TextBoxFor(u => u.Cep, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(u => u.Numero)
                        @Html.TextBoxFor(u => u.Numero, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(u => u.Complemento)
                        @Html.TextBoxFor(u => u.Complemento, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @*Adicionar campos para logradouro, cidade, estado*@
                    </div>
                </div>                
            </div>
        </div>
        //informacoes do usuario
        <div class="col-md-4 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Informações de Usuário</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(u => u.Email)
                        @Html.TextBoxFor(u => u.Email, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(u => u.Senha)
                        @Html.TextBoxFor(u => u.Senha, new { @class = "form-control" })
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <button class="btn btn-success" id="btnEnviar">Enviar</button>
                        <input type="reset" class="btn btn-danger" value="Limpar" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section scripts{
    <script>
        $().ready(function () {

            //exemplo de validação
            $("#Email").blur(function () {
                var email = $(this).val();
                if (validarInputEmail(email)) {
                    validarEmail(email);
                }                    
            });

            //função para validar o e-mail
            //passar como parâmetro o valor do input do e-mail
            function validarEmail(emailInput) {
                $.ajax({
                    url: '@Url.Action("VerificarEmail", "Usuario")',
                    method: "get",
                    data: { email: emailInput },
                    success: function (data) {
                        if (data.ok) {
                            console.log("email já existe");
                            return false;
                        } else {
                            console.log("email não existe");
                            return true;
                        }
                    },
                    erro: function () {
                        console.log("erro na requisição");
                        return false;
                    }
                });
            }

            //função para validar o valor do input do e-mail
            //chamar antes de enviar a requisição ajax
            function validarInputEmail(emailInput) {
                var pattern = new RegExp(/^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/);
                return pattern.test(emailInput);
            }

        });
    </script>    
    
}

@*author Julio*@

