@model Fiap.Leilao.Web.ViewModels.DashGenericoViewModel
@{
    ViewBag.Title = "Painel";
}

@MeuHelper.Titulo("Painel do Usuário")

<div class="row">
    <div class="col-md-12 col-sm-12">
        @Html.ActionLink("Vender Produtos", "Vender", "Vender", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Comprar Produtos", "Dashboard", "Comprar", null, new { @class = "btn btn-primary" })

    </div>
</div>

@MeuHelper.SubTitulo("Produtos em Venda")

<div class="row">
    <div class="col-md-12 col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Produto</th>
                    <th>Valor</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="_tabelaVendas">
                @Html.Partial("_tabelaVendas", Model.ProdutosEmVenda)
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    @MeuHelper.SubTitulo("Produtos em Compra")
    <div class="col-md-12 col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Produto</th>
                    <th>Valor</th>
                    <th>Oferta</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="_tabelaCompras">
                
                  @Html.Partial("_tabelaCompras", Model.ProdutosEmVenda) 
                 
                
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="ModalConcluiVenda">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirmação</h4>
            </div>
            <div class="modal-body" id="proposta">

            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-3">
                        @using (Html.BeginForm("AceitaProposta", "Usuario"))
                        {
                            <input type="hidden" id="negociacao2Id" name="negociacao2Id" />
                            <button type="submit" class="btn btn-success" id="botaoVender">Aceitar</button>
                        }
                    </div>
                    <div class="col-md-3">
                        @using (Html.BeginForm("RecusaProposta", "Usuario"))
                        {
                            <input type="hidden" id="negociacaoId" name="negociacaoId" />
                            <button type="submit" class="btn btn-warning" id="botaoRecusar">Recusar</button>
                        }
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Sair</button>
                    </div>
                </div>
                
                

                
            </div>
        </div>
    </div>
</div>