 @model Fiap.Leilao.Web.ViewModels.UserViewModel
<div class="espaco" /> </div>
@section cadastrotopo{
    <div class="header-cadastro">
        <div class="header-top">
            <img src="~/Content/imagens/logo.png">
        </div>
        <div class="st-parallax-cadastro">
            <h1>SEJA BEM-VINDO(A)</h1>
            <h3>CADASTRE-SE</h3>
        </div>
    </div>
}

@using (Html.BeginForm())
{
    <div class="col-md-4 col-sm-4 fonts">
        <div class="panel panel-default">
            <div class="panel-heading">Informações Pessoais</div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(u => u.Nome)
                    @Html.TextBoxFor(u => u.Nome, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(u => u.Cpf)
                    @Html.TextBoxFor(u => u.Cpf, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(u => u.DataNascimento)
                    @Html.TextBoxFor(u => u.DataNascimento, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(u => u.Telefone)
                    @Html.TextBoxFor(u => u.Telefone, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    //informacoes de endereço
    <div class="col-md-4 col-sm-4 fonts">
        <div class="panel panel-default">
            <div class="panel-heading">Endereço</div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(u => u.Cep)
                    @Html.TextBoxFor(u => u.Cep, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(u => u.Numero)
                    @Html.TextBoxFor(u => u.Numero, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(u => u.Complemento)
                    @Html.TextBoxFor(u => u.Complemento, new { @class = "form-control" })
                </div>
                <div class="form-group">
                   
                </div>
            </div>
        </div>
    </div>
    //informacoes de login
    <div class="col-md-4 col-sm-4 fonts">
        <div class="panel panel-default">
            <div class="panel-heading">Informações de Usuário</div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(u => u.Email)
                    @Html.TextBoxFor(u => u.Email, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(u => u.Password)
                    @Html.PasswordFor(u => u.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="panel-footer overflowbutton">
                <div class="form-group">
                    <input type="submit" class="buttons" value="Cadastrar" />
                </div>
            </div>
        </div>
    </div>
}
