@model Fiap.Leilao.Web.ViewModels.CompraViewModel

<section class="vitrine-grid">
    @foreach (var item in Model.Produtos)
    {
        <section class="vitrine-produto">
            <section class="vitrine-descricao">
                <figure>
                    <img src="@item.Imagem" alt=@item.Imagem width="150" height="99">
                </figure>
                <h3 class="titulo-produto">@item.Nome</h3>
                <p class="preco-produto">R$ @item.Valor_Vendedor</p>
                @if (User.Identity.IsAuthenticated)
                {
                    <button type="button" onclick="descricao.innerHTML='@item.Descricao',nome.innerHTML='@item.Nome',valor.innerHTML='R$ @item.Valor_Vendedor', Id_Produto.value = @item.Id" class="enviar" data-toggle="modal" data-target="#ModalComprar">
                        Ofertar
                    </button>
                }
                else
                {
                    <p class="deslogado">Para ofertar, faça o @Html.ActionLink("Login", "LogIn", "User", new { area = "" }, new { @class = "deslogado-button" })</p>
                }

            </section>


        </section>

    }
</section>    