@model Fiap.Leilao.Web.ViewModels.ProdutoViewModel
@foreach (var item in Model.Produtos)
{
    <tr>
        <td>@item.Id</td>
        <td>
            <img src=@item.Imagem class="img-thumbnail" alt=@item.Imagem width="100" height="50">
        </td>
        <td>@item.Nome</td>
        <td>@item.Descricao</td>
        <td>@item.Valor_Vendedor</td>
        <td>@item.Status_Produto</td>
        <td>
            <button onclick="Nome2.value = '@item.Nome',Descricao2.value = '@item.Descricao',Imagem2.value = '@item.Imagem', Id.value = '@item.Id',Valor_Vendedor2.value='@item.Valor_Vendedor',Id_Vendedor2.value='@item.Id_Vendedor',Status_Produto.value='@item.Status_Produto'" type="button" class="botaolaranja" data-toggle="modal" data-target="#myModalEditar">
                Editar
            </button>

            <button onclick="produtoId.value = @item.Id" type="button" class="btn-cancelar" data-toggle="modal" data-target="#myModal">
                Excluir
            </button>
        </td>
    </tr>
}
@if (Request.IsAjaxRequest())
{
    <script>
        someBotao();

    </script>
}
